@import "main.scss";
@import "cabinet.scss";
@import "header.scss";
@import "footer.scss";
@import "modal.scss";
@import "mixin.scss";

@import url("https://fonts.cdnfonts.com/css/rubik");
@import url("https://fonts.cdnfonts.com/css/inter");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("/img/map.webp");
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/map.webp);
}

body.blur::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/img/map.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  filter: blur(5px);
  z-index: -1;
}

:root {
  --black: #000000;
  --blackBack: rgb(0, 0, 0, 0.8);
  --white: #ffffff;
  --whiteForm: rgb(255, 255, 255, 0.4);
  --darkBlue: #0f172a;
  --grey: #656565;
  --lightGrey: rgb(180, 180, 180);
  --greyFooter: #cccccc;
  --gold: #efb648;
  --goldHover: #cf9011;
}

canvas {
  background-color: gray;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: calc(100% - 116px);
  max-width: 1920px;
  max-height: 700px;
}