@import url("https://fonts.cdnfonts.com/css/rubik");
@import url("https://fonts.cdnfonts.com/css/inter");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.main__section {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    height: 100vh;
    max-height: 900px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/map.webp);
}

.header {
    width: 100%;
    height: 80px;
    max-width: 1920px;
    margin: 0 auto;
}

.nav {
    width: 100%;
    background: rgb(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}

.nav__list {
    display: flex;
    justify-content: space-evenly;
}

.nav__logo {
    width: 30px;
    height: 30px;
    margin: 25px;
}

.nav__link {
    display: inline-block;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    font-family: "Rubik", serif, sans-serif;
    line-height: 24px;
    margin: 25px;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__button {
    width: 196px;
    height: 30px;
    background-color: #FFFFFF;
    border-radius: 20px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    font-weight: 700;
    font-family: "Inter", serif, sans-serif;
    margin-top: 25px;
}

.nav__button:hover {
    background-color: #b9b9b9;
    cursor: pointer;
}

.nav__menu {
    
    width: 33%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.nav__menu-input {
    display: none;
}

.nav__arrow {

    margin: 10px;
}



.nav__menu-toggle {
    width: 175px;
    height: 35px;
    background-color: #FFFFFF;
    color: #0F172A;
    border-radius: 20px;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    font-weight: 700;
    font-family: "Inter", serif, sans-serif;
}

.nav__menu-toggle:hover {
    background-color: #b9b9b9;
    cursor: pointer;
}

.nav__content {
    background: rgb(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    max-width: 1920px;
    top: 80px;
    display: none;
    left: 50%;
    transform: translateX(-50%);
}

.nav__content-title {
    padding-top: 64px;
    text-align: center;
    font-size: 64px;
    opacity: 1;
}

.nav__content-description {
    display: inline-block;
    margin: 64px 120px 64px 120px;
    font-family: 'Inter', serif, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.nav__content-link {
    color: #EFB648;
    text-decoration: underline;
}

.nav__content-link:hover {
    color: #FFFFFF;
}

.nav__menu-input:checked~#nav-content {
    display: block;
}

.nav__menu-input:checked~#menu-toggle::before {
    content: "СВЕРНУТЬ";
}

.nav__menu-input:not(:checked)~#menu-toggle::before {
    content: "РАЗВЕРНУТЬ";
}

.nav__options {
    width: 33%;
    display: flex;
    justify-content: space-between;
}


.nav__language,
.nav__language:focus {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    padding: 0 10px;
    border: none;
    background: none;
}

.language__option,
.language__option:focus {
    background-color: #000000;
    border: none;
    outline: none;
}

.nav__language {
    display: inline-block;
    height: 24px;
    margin-top: 27px;
    padding: 0 10px;
    font-family: "Inter", serif, sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.nav__language:hover{
    text-decoration: underline;
    cursor: pointer;
}

.nav__language-avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 30px;
}

.nav__support {
    color: #FFFFFF;
    font-family: "Inter", serif, sans-serif;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 27px;
}

.nav__support:hover{
    text-decoration: underline;
}

.nav__register-button {
    width: 156px;
    height: 30px;
    background-color: #FFFFFF;
    color: #0F172A;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    font-weight: 700;
    font-family: "Inter", serif, sans-serif;
    margin-top: 25px;
    margin-right: 15px;
}

.nav__register-button:hover{
    background-color: #b9b9b9;
    cursor: pointer;
}

































.main {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    height: 100%;
}

.footer {
    width: 100%;
    max-width: 1920px;
    background: rgb(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    color: white;
}